body {
  border: 20px solid rgb(179, 204, 204);
  /*margin-left: 20%;
  margin-right: 20%;*/
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  font-family: Source Sans Pro;
}

h2 {
  /*font-size: 40px;*/
  font-size: 2.5rem;
  color: #2c3e50;
  /*font-weight: 700;*/
}

.date {
  color: rgb(0, 172, 230);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.first {
  border-left: 4px solid rgb(179, 204, 204);
  padding-left: 4px;
}

.post {
  margin-bottom: 20px;
}

/* Gradient transparent - color - transparent */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
